html {
  scroll-behavior: smooth;
  }

body {
  font-family: "Courier New";
  background-color: #F2EFDB;
  color: #3C3C37;
}

header {
  background-color: rgb(212, 209, 192);
margin: auto auto 50px auto;
padding: 0 3px;
border: 3px solid #79776E;
}

#title, #description {
  text-align: center;
}

#description {
  font-weight: 500;
}

/* Navigation */

#menu {
  text-align: center;
  margin-right: 30px;
}

nav > ul > li {
  display: inline;
}

li a {
  text-decoration: none;
  color:#3C3C37;
  margin: 0 20px;
  padding: 0 10px;
  font-weight: 800;
  border-bottom: 1px dashed #3C3C37;
}

/* Change the link color on hover */

li a:hover {
  background-color: #3C3C37;
  color: rgb(212, 209, 192);
}

/* image */

img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 70%;
  margin: 50px auto 10px auto;
}

#img-caption {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 50px;
}

.section-title {
  text-align: center;
}

#life {
  margin: 50px 0;
  padding: 10px 30px;
  border: 3px dashed #79776E;
}

.life {
  text-indent: 40px;
  line-height: 30px;
  font-weight: 500;
}

.top {
  float: right;
  background-color: rgb(212, 209, 192);
  text-decoration: none;
  color: #3C3C37;
}

.top:hover {
  background-color: #3C3C37;
  color: rgb(212, 209, 192);
}

#bibliography {
  margin: 50px 0;
  padding: 10px 30px;
  border: 3px dashed #79776E;
}

.fiction {
  line-height: 30px;
  font-weight: 500;
}

.fiction-title {
  font-weight: 600;
}

#trivia {
  margin: 50px 0;
  padding: 10px 30px;
  border: 3px dashed #79776E;
}

.trivia {
  line-height: 30px;
  font-weight: 500;
}

address {
  text-align: center;
}
